html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.myheading {
    background: black;
    color: yellow;
    padding: 10px;
    text-align: center
}

.myborder {
    border: solid 2px;
}